.head{
    display: grid;
    grid-template-rows: 25px auto;
    width: 80%;
    margin: 0 auto;
  }

.credits {
    width: 100%;
    display: grid;
    margin: 0 auto;
    grid-template-columns: repeat(auto-fill, minmax(125px, 1fr));
    gap: 20px;
    padding: 10px;
    min-height: 285px;
    max-height: 570px;
    /* 약 660px 정도: 카드 2줄 (각 약 320px) + gap 20px */
    overflow-y: auto;
    overflow: scroll;
}

.credits::-webkit-scrollbar {
    display: none;
}

/* 각 크레딧 카드 스타일 */
.credit {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
    height: 270px;
    border-radius: 8px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

/* 이미지 스타일: 최소 가로 185px, 세로 278px, 부모 너비에 맞게 확장 및 object-fit: cover 적용 */
.credit img {
    width: 100%;
    min-width: 125px;
    min-height: 198px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 4px;
}

/* 텍스트 스타일 */
.credit p {
    margin: 4px 0;
    text-align: center;
    font-size: 14px;
    color: black;
}