
.head{
  display: grid;
  grid-template-rows: 25px auto;
  width: 80%;
  margin: 0 auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-bottom: 50px;
  height: auto;
  min-height: 160px;
  /* 최소 높이 */
  max-height: 660px;
  /* 최대 높이 */
  overflow-y: auto;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.container iframe {
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}