
.head{
  display: grid;
  grid-template-rows: 25px auto;
  width: 80%;
  margin: 30px auto;
}

.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 300px));
  gap: 20px;
  padding: 0 auto;
  height: auto;
  min-height: 160px;
  max-height: 660px;
  overflow-y: auto;
  overflow: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.container iframe {
  display: flex;
  border-radius: 10px;
  opacity: 0.8;
  transition: opacity 0.2s ease-in-out;
}

.container iframe:hover {
  opacity: 1;
}